.testimonials-page {
	direction: ltr;
}

/*---------------------------------------------*/

.design-simple2 .testimonials-inner
{
	position: relative;
	font-size: 13px;
	line-height: 1.4;
	margin: 10px;
	padding: 12px 17px 12px 14px;
	border-radius: 10px;
	xborder: 1px solid rgba(0,0,0,0.1);
	xbox-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.design-simple2 .testimonials-image
{
	margin-right: 20px;
	margin-top: 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.design-simple2.size-small .testimonials-image
{
	margin-top: 0px;
	margin-right: 10px;
	margin-top: 5px;	
}

.design-simple2 .testimonials-text
{
	font-style: italic;
}

.design-simple2 .testimonials-meta
{
	margin-bottom: 12px;
}

.design-simple2 .testimonials-meta tr,
.design-simple2 .testimonials-meta td
{
	vertical-align: bottom;
}

.design-simple2 .testimonials-meta a
{
	color: inherit;
}

.design-simple2 .testimonials-name
{
	font-weight: bold;
	font-size: 17px;
	line-height: 1.2;
}

.design-simple2 .testimonials-date
{
	font-size: 13px;
}

.design-simple2 a.testimonials-symbol
{
	font-size: 90%;
}

.design-simple2.size-small .testimonials-name
{
	font-size: 13px;
}

/*---------------------------------------------*/

.design-bubbledown .testimonials-item 
{
	position: relative;
}

.design-bubbledown .testimonials-inner 
{
}
	
.design-bubbledown .testimonials-text
{
	text-align: left;
	font-size: 14px;
	line-height: 1.6;
	padding: 10px 12px 20px 12px;
	position: relative;
	margin-top: 18px;
	border-radius: 3px;
}

.design-bubbledown .testimonials-text:before
{
	content: '';
	position: absolute;
	top: -23px;
	left: 29px;
	
	border-style: solid;
	border-width: 12px 7px;
	border-color: transparent;
	border-color: rgba(255,255,255,0);
	border-bottom-color: inherit;
}

.design-bubbledown.size-medium .testimonials-text:before
{
	left: 21px;
}

.design-bubbledown.size-small .testimonials-text:before
{
	left: 15px;
}

.design-bubbledown .testimonials-image
{
	background-color: white;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.design-bubbledown .testimonials-meta
{
	padding-left: 15px;
}

.design-bubbledown .testimonials-meta a
{
	text-decoration: none;
	color: inherit;
}

.design-bubbledown .testimonials-name
{
	font-style: normal;
	text-decoration: none;
	display: block;
	font-size: 18px;
	margin-top: 0;
	line-height: 1.3;
}

.design-bubbledown .testimonials-date
{
	margin-top: 2px;
	font-weight: bold;
	font-size: 14px;
}

.design-bubbledown.size-small .testimonials-meta
{
	padding-left: 7px;
}

.design-bubbledown.size-small .testimonials-date
{
	font-size: 11px;
}

.design-bubbledown.size-small .testimonials-name
{
	font-size: 14px;
}

/*---------------------------------------------*/

.design-bubbleright .testimonials-item 
{
	position: relative;
}

.design-bubbleright .testimonials-text
{
	font-style: italic;
	font-size: 13px;
	line-height: 1.4;
	padding: 8px 12px 20px 12px;
	position: relative;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0px 0px 1px rgba(0,0,0,0.2);
	border-radius: 3px;
}

.design-bubbleright .testimonials-text:before,
.design-bubbleright .testimonials-text:after
{
	content: '';
	position: absolute;
	top: 12px;
	left: -19px;

	border: 11px solid transparent;
	border-color: rgba(255,255,255,0);
}

.design-bubbleright .testimonials-text:before
{
	left: -20px;
   border-width: 10px;
   margin-top: 1px;
	border-color: transparent rgba(0,0,0,0.15) transparent transparent;
	border-color: rgba(255,255,255,0) rgba(0,0,0,0.15) rgba(255,255,255,0) rgba(255,255,255,0);
}

.design-bubbleright .testimonials-text:after
{
	border-right-color: inherit;
}

@-moz-document url-prefix() {
	.design-bubbleright .testimonials-text:after{left: -19px;}
	.design-bubbleright .testimonials-text:before{left: -20px;}
}

.design-bubbleright .testimonials-image
{
	background-color: white;
	margin-right: 15px;
	padding: 2px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	border-radius: 3px;
	background-clip: initial;
}

.design-bubbleright .testimonials-name
{
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 0.5em;
	text-decoration: none;
	display: block;
	white-space: normal;
}

.design-bubbleright.size-small .testimonials-name
{
	font-size: 12px;
}

.design-bubbleright .testimonials-meta
{
	font-size: 13px;
	text-align: right;
	margin-top: 3px;
}

.design-bubbleright .testimonials-meta a
{
	text-decoration: none;
}

.design-bubbleright .testimonials-date
{
	font-size: 12px;
	padding-right: 2px;
}

.design-bubbleright.size-small .testimonials-date
{
	font-size: 11px;
}

/*---------------------------------------------*/

.design-bubbleup2 .testimonials-inner td
{
	vertical-align: top;
}

.design-bubbleup2 .testimonials-text
{
	text-align: left;
	font-size: 16px;
	line-height: 1.8;
	padding: 18px 22px;
	position: relative;
	border-radius: 5px;
	margin-bottom: 28px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.design-bubbleup2 .testimonials-text:before,
.design-bubbleup2 .testimonials-text:after
{
	content: '';
	position: absolute;
	bottom: -19px;
	left: 40px;
	z-index: 9999;
	
	border: 10px solid transparent;
	border-top-color: inherit;
	border-left-color: inherit;
}

.design-bubbleup2 .testimonials-text:before
{
	border-style: solid;
	margin-bottom: -3px;
	left: 39px;
   z-index: 0;
	
	border: 11px solid transparent;
	border-color: rgba(0,0,0,0.15) transparent transparent rgba(0,0,0,0.15);
	border-color: rgba(0,0,0,0.15) rgba(255,255,255,0) rgba(255,255,255,0) rgba(0,0,0,0.15);
}

.design-bubbleup2 .testimonials-image
{
	margin-right: 12px;
	border: 5px solid transparent;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.design-bubbleup2 .testimonials-meta
{
	margin-top: 3px;
}

.design-bubbleup2 .testimonials-meta a
{
	text-decoration: none;
	color: inherit;
}

.design-bubbleup2 a.testimonials-name
{
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	display: block;
	font-size: 14px;
}

.design-bubbleup2.size-small .testimonials-image
{
	border-width: 3px;
	margin-right: 8px;
}

.design-bubbleup2.size-small .testimonials-meta
{
	margin-top: 0px;
}

.design-bubbleup2.size-small .testimonials-name
{
	font-size: 13px;
}

.design-bubbleup2.size-small .testimonials-text:after
{
	left: 25px;
}

.design-bubbleup2.size-small .testimonials-text:before
{
	left: 24px;
}

.design-bubbleup2 .testimonials-date
{
	font-weight: bold;
	font-size: 11px;
	opacity: 0.8;
}

.design-bubbleup2 .testimonials-item hr
{
	margin-top: 0px;
}

.design-bubbleup2 a.testimonials-symbol
{
	font-size: 12px;
	opacity: 0.6;
}

/*---------------------------------------------*/

.design-bubbleup3 .testimonials-item 
{
	font-family: 'Open Sans', sans-serif;
}

.design-bubbleup3 .testimonials-content
{
	padding: 20px 14px 28px 32px;
	position: relative;
	box-shadow: inset 0 0 0 2px rgb(200,200,200);
	border-radius: 4px;
}

.design-bubbleup3.size-medium .testimonials-content
{
	padding: 14px 9px 20px 24px;
}

.design-bubbleup3.size-small .testimonials-content
{
	padding: 9px 6px 13px 12px;
}

.design-bubbleup3 .testimonials-content:before,
.design-bubbleup3 .testimonials-content:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 16px;
	bottom: 1px;
	left: 23px;
	margin-bottom: -30px;
	
	border-color: transparent;
	border-color: rgba(255,255,255,0);
}

.design-bubbleup3 .testimonials-content:after 
{
	border-top-color: inherit;
   border-width: 18px;
   margin-left: -2px;
   bottom: 0;
}

.design-bubbleup3 .testimonials-content:before
{
	margin-bottom: -32px;
	
	border-color: rgb(200,200,200) transparent transparent transparent;
	border-color: rgb(200,200,200) rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
}

.design-bubbleup3 .testimonials-image
{
	margin-right: 32px;
	
	border: 4px solid white;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.design-bubbleup3.size-medium .testimonials-image
{
	margin-right: 24px;
}

.design-bubbleup3.size-small .testimonials-image
{
	margin-right: 10px;
}

.design-bubbleup3 .testimonials-text
{
	font-size: 13px;
	font-weight: 600;
	padding-bottom: 10px;
}

.design-bubbleup3 .testimonials-meta
{
	margin-top: 22px;
	margin-left: 36px;
}
	
.design-bubbleup3 .testimonials-meta,
.design-bubbleup3 .testimonials-meta a
{
	text-align: left;
}

.design-bubbleup3 .testimonials-meta a
{
	color: inherit;
}

.design-bubbleup3 .testimonials-name
{
	font-size: 17px;
	font-weight: 800;
}

.design-bubbleup3 .testimonials-date
{
	font-size: 14px;
	font-weight: 600;
	margin-left: 5px;
}

.design-bubbleup3 .testimonials-symbol
{
	font-size: 13px;
}

.design-bubbleup3.size-small .testimonials-meta
{
	margin-top: 18px;
}
	
.design-bubbleup3.size-small .testimonials-name
{
	font-size: 13px;
}

.design-bubbleup3.size-small .testimonials-date
{
	font-size: 11px;
}

/*---------------------------------------------*/

.design-bubbleupnp .testimonials-item 
{
	font-family: 'Open Sans', sans-serif;
}

.design-bubbleupnp .testimonials-content
{
	padding: 20px 14px 22px 22px;
	position: relative;
	box-shadow: inset 0 0 0 2px rgb(200,200,200);
	border-radius: 4px;
}

.design-bubbleupnp .testimonials-content:before,
.design-bubbleupnp .testimonials-content:after
{
	content: '';
	position: absolute;
	bottom: 1px;
	left: 27px;
	margin-bottom: -22px;
	
	/* http://stackoverflow.com/questions/13630886/firefox-17-and-css-borders-based-triangles-not-rendering-properly */
	border-style: solid;
	border-width: 12px;
	border-color: transparent;
	border-color: rgba(255,255,255,0);
}

.design-bubbleupnp .testimonials-content:before
{
	margin-bottom: -24px;
	
	border-color: rgb(200,200,200) transparent transparent transparent;
	border-color: rgb(200,200,200) rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
}

.design-bubbleupnp .testimonials-content:after 
{
	border-top-color: inherit;
   border-width: 13px;
   margin-left: -1px;
}

.design-bubbleupnp .testimonials-text
{
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	padding-bottom: 10px;
	position: relative;
	margin-left: 14px;
}

.design-bubbleupnp .testimonials-text:before
{
	content: 'a';
	position: absolute;
	left: -23px;
	top: 0px;
	font-size: 16px;
	line-height: 16px;
	font-family: InffuseQuotes;
	font-style: normal;
	color: inherit;
	opacity: 0.4;
}

.design-bubbleupnp .testimonials-meta
{
	margin-top: 14px;
	margin-left: 36px;
}
	
.design-bubbleupnp .testimonials-meta,
.design-bubbleupnp .testimonials-meta a
{
	text-align: left;
}

.design-bubbleupnp .testimonials-meta a
{
	color: inherit;
}

.design-bubbleupnp .testimonials-name
{
	font-size: 16px;
	font-weight: 800;
	margin-right: 5px;
}

.design-bubbleupnp .testimonials-date
{
	font-size: 14px;
	font-weight: 600;
}

.design-bubbleupnp .testimonials-symbol
{
	font-size: 13px;
}

.design-bubbleupnp.size-small .testimonials-meta
{
	margin-top: 12px;
}
	
.design-bubbleupnp.size-small .testimonials-name
{
	font-size: 13px;
	margin-right: 2px;
}

.design-bubbleupnp.size-small .testimonials-date
{
	font-size: 11px;
}

/*---------------------------------------------*/

.design-circlelarge .testimonials-item 
{
}

.design-circlelarge .testimonials-inner 
{
	margin-left: 10px;
	padding-left: 5px;
	overflow: hidden;
}

.design-circlelarge .testimonials-content
{
	padding: 12px 16px;
	padding-top: 8px;
	border-radius: 5px;
}

.design-circlelarge .testimonials-image
{
	margin-right: 15px;
	margin-top: 15px;
	
	border: 3px solid transparent;
	border-radius: 1000px;
	
	box-sizing: initial;
	-moz-box-sizing: initial;
}

.design-circlelarge .testimonials-text
{
	font-size: 13.5px;
	line-height: 1.5;
	position: relative;
	min-height: 40px;
	padding: 5px 0px;
}

.design-circlelarge .testimonials-meta
{
	font-style: italic;
	margin-top: 15px;
}

.design-circlelarge .testimonials-meta a
{
	color: inherit;
}

.design-circlelarge .testimonials-name
{
	font-size: 17px;
	font-weight: bold;
}

.design-circlelarge .testimonials-date
{
	font-size: 14px;
	font-weight: 600;
}

.design-circlelarge .testimonials-symbol 
{
	font-family: InffuseSymbolsCircle;
	font-style: normal;
	font-size: 115%;
	display: inline-block;
	vertical-align: text-bottom;
}

.design-circlelarge.size-small .testimonials-image
{
	border-width: 2px;
	margin-top: 12px;
	margin-right: 10px;	
}

.design-circlelarge.size-small .testimonials-name
{
	font-size: 12px;
}

.design-circlelarge.size-small .testimonials-date
{
	font-size: 11px;
}

/*---------------------------------------------*/

.design-circlelargenb .testimonials-item 
{
}

.design-circlelargenb .testimonials-inner 
{
	margin-left: 20px;
	overflow: hidden;
}

.design-circlelargenb .testimonials-content
{
}

.design-circlelargenb .testimonials-image
{
	margin-right: 22px;
	
	border: 3px solid transparent;
	border-radius: 1000px;
	
	box-sizing: initial;
	-moz-box-sizing: initial;
}

.design-circlelargenb.size-medium .testimonials-image
{
	margin-right: 16px;
}

.design-circlelargenb.size-small .testimonials-image
{
	margin-right: 11px;
	border-width: 2px;
}

.design-circlelargenb .testimonials-text
{
	font-size: 13.5px;
	line-height: 1.5;
	font-style: italic;
	position: relative;
	min-height: 40px;
	margin-top: 2px;
}

.design-circlelargenb .testimonials-meta
{
	margin-top: 15px;
	line-height: 1.2;
}

.design-circlelargenb .testimonials-meta a
{
	color: inherit;
}

.design-circlelargenb a.testimonials-name
{
	font-size: 16px;
	font-weight: bold;
	opacity: 0.7;
}

.design-circlelargenb .testimonials-date
{
	font-size: 13px;
	font-weight: 600;
}

.design-circlelargenb a.testimonials-symbol 
{
	font-size: 13px;
}

.design-circlelargenb.size-small .testimonials-name
{
	font-size: 12px;
}

.design-circlelargenb.size-small .testimonials-date
{
	font-size: 11px;
}

/*---------------------------------------------*/

.design-largequote .testimonials-item 
{
	position: relative;
}

.design-largequote .testimonials-text
{
	font-style: italic;
	font-size: 14px;
	margin-top: 2px;
}

.design-largequote .testimonials-quote
{
	font-family: "Open Sans";
	font-size: 120px;
	display: inline-block;
	overflow: hidden;
	margin-left: -40px;
	padding-right: 40px;
	max-height: 26px;
	line-height: 105px;
	letter-spacing: -50px;
}

.design-largequote.size-medium .testimonials-text:before
{
	font-size: 120px;
	line-height: 105px;
	letter-spacing: -50px;
	padding-right: 45px;
}

.design-largequote.size-small .testimonials-text:before
{
	font-size: 85px;
	line-height: 90px;
	letter-spacing: -35px;
	margin-left: -24px;
	padding-right: 32px;
}

.design-largequote .testimonials-image
{
	margin-right: 20px;
	margin-top: 15px;
	padding: 4px;
}

.design-largequote.size-medium .testimonials-image
{
	margin-right: 15px;
}

.design-largequote.size-small .testimonials-image
{
	margin-right: 10px;
}

.design-largequote .testimonials-meta
{
	font-weight: bold;
	font-size: 13px;
	margin-top: 1.2em;
	text-align: left;
}

.design-largequote .testimonials-meta a
{
	text-decoration: none;
	color: inherit;
}

.design-largequote .testimonials-date
{
	font-weight: normal;
}

/*---------------------------------------------*/

.design-simplequote .testimonials-inner
{
	position: relative;
	font-size: 12px;
	line-height: 1.4;
	margin: 10px;
	padding: 10px;
}

.design-simplequote .testimonials-image
{
	margin-right: 40px;
	margin-top: 3px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.design-simplequote .testimonials-text
{
	font-size: 14px;
	font-style: italic;
	position: relative;
}

.design-simplequote .testimonials-text:before
{
	content: 'a';
	position: absolute;
	left: -27px;
	top: -2px;
	font-size: 20px;
	line-height: 20px;
	font-family: InffuseQuotes;
	font-style: normal;
	padding-right: 1em;
	color: inherit;
	opacity: 0.4;
}

.design-simplequote .testimonials-meta
{
	margin-top: 12px;
	white-space: normal;
}

.design-simplequote .testimonials-meta a 
{
	color: inherit;
}

.design-simplequote .testimonials-name
{
	font-size: 16px;
	font-weight: bold;
}

.design-simplequote .testimonials-date
{
	font-size: 14px;
	font-weight: normal;
}

.design-simplequote .testimonials-meta,
.design-simplequote .testimonials-meta a
{
}

.design-simplequote.size-small .testimonials-name
{
	font-size: 12px;
}

.design-simplequote.size-small .testimonials-date
{
	font-size: 11px;
}

.design-simplequote.size-small .testimonials-text:before
{
	left: -21px;
	font-size: 15px;
}

.design-simplequote.size-small .testimonials-image
{
	margin-right: 30px;
}

/*---------------------------------------------*/

.design-simplequotenp .testimonials-item
{
	width: 100%;
}

.design-simplequotenp .testimonials-inner
{
	position: relative;
	font-size: 12px;
	line-height: 1.4;
	margin: 10px;
	padding: 17px 22px 17px 15px;
}

.design-simplequotenp .testimonials-text
{
	font-size: 20px;
	line-height: 1.5;
	position: relative;
	text-align: left;
	margin-left: 50px;
}

.design-simplequotenp .testimonials-text:before
{
	content: 'c';
	position: absolute;
	left: -44px;
	top: 4px;
	font-size: 28px;
	line-height: 20px;
	font-family: InffuseQuotes;
	font-style: normal;
	color: inherit;
	opacity: 0.4;
}

.design-simplequotenp .testimonials-meta
{
	margin-top: 12px;
	text-align: right;
}

.design-simplequotenp .testimonials-meta a
{
	color: inherit;
}

.design-simplequotenp .testimonials-name
{
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

.design-simplequotenp .testimonials-date
{
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	margin-left: 3px;
}

.design-simplequotenp.size-small .testimonials-text
{
	margin-left: 35px;
}

.design-simplequotenp.size-small .testimonials-text:before
{
	left: -34px;
	top: 2px;
	font-size: 22px;
	line-height: 16px;
}

.design-simplequotenp.size-small .testimonials-date,
.design-simplequotenp.size-small .testimonials-name
{
	font-size: 12px;
}

/*---------------------------------------------*/

.design-triangleup .testimonials-item 
{
	font-family: 'Open Sans', sans-serif;
}

.design-triangleup .testimonials-content
{
	padding: 10px 12px 14px 12px;
	position: relative;
	margin-bottom: 30px;
}

.design-triangleup .testimonials-content:after
{
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin-bottom: -20px;
	
	border-style: solid;
	border-width: 10px 16px 10px 16px;
	border-color: transparent;
	border-color: rgba(255,255,255,0);
	border-top-color: inherit;
	border-left-color: inherit;
}

.design-triangleup .testimonials-image
{
	margin-right: 12px;
	margin-top: 4px;
	
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.design-triangleup .testimonials-text
{
	font-size: 13px;
	font-weight: 600;
	padding-bottom: 10px;
}

.design-triangleup .testimonials-meta,
.design-triangleup .testimonials-meta a
{
	text-align: left;
}

.design-triangleup .testimonials-meta a 
{
	color: inherit;
}

.design-triangleup .testimonials-meta .testimonials-name
{
	font-size: 17px;
	font-weight: 800;
}

.design-triangleup .testimonials-meta .testimonials-date
{
	font-size: 14px;
	font-weight: 600;
}

.design-triangleup .testimonials-symbol
{
	font-size: 13px;
}

.design-triangleup.size-small .testimonials-name
{
	font-size: 13px;
}

.design-triangleup.size-small .testimonials-date
{
	font-size: 11px;
}

/*---------------------------------------------*/
