body
{
	xwidth: 440px;
	margin: 0 auto;
	xborder: 1px solid red;
	overflow: hidden;
}

xbody:after {
	position: absolute;
	font-family: arial black;
	font-weight: bold;
	font-size: 40px;
	text-shadow: 0px 0px 2px white;
	text-align: center;
	top: 50%;
	left: 50%;
	content: 'NEW VERSION';
	transform: translateX(-50%) translateY(-50%) rotateZ(-25deg);
	opacity: 0.2;
}

@font-face 
{
	font-family: InffuseSymbols;
	src:url('../fonts/logos/logos.ttf');
	src:url('../fonts/logos/logos.eot');
	src:url('../fonts/logos/logos.eot?#iefix') format('embedded-opentype'),
		url('../fonts/logos/logos.woff') format('woff'),
		url('../fonts/logos/logos.ttf') format('truetype'),
		url('../fonts/logos/logos.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
	font-family: InffuseQuotes;
	src:url('../fonts/quotes/quotes.ttf');
	src:url('../fonts/quotes/quotes.eot');
	src:url('../fonts/quotes/quotes.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quotes/quotes.woff') format('woff'),
		url('../fonts/quotes/quotes.ttf') format('truetype'),
		url('../fonts/quotes/quotes.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
	font-family: InffuseSymbolsCircle;
	src:url('../fonts/circle/circle.ttf');
	src:url('../fonts/circle/circle.eot');
	src:url('../fonts/circle/circle.eot?#iefix') format('embedded-opentype'),
		url('../fonts/circle/circle.woff') format('woff'),
		url('../fonts/circle/circle.ttf') format('truetype'),
		url('../fonts/circle/circle.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa:before {
	font-family: FontAwesome;
}

button
{
	border: 0;
	border-radius: 5px;
	padding: 8px 18px;
	cursor: pointer;
	outline: 0;
}

.container
{
	xfont-size: 0; /* fixing spacing between items */
	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	visibility: hidden; /* let the slider initialize first */	
	position: relative;
	overflow: hidden;
	
	width: 100%;
	xheight: 100%;
}

.arrows {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	font-size: 50px;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.7;
	pointer-events:auto;
}

.arrow:hover {
	opacity: 1;
}

.arrow#arrow-left {
	left: 10px;
}

.arrow#arrow-right {
	right: 10px;
}

.arrow .fa-caret-left,
.arrow .fa-caret-right,
.arrow .fa-arrow-circle-o-left,
.arrow .fa-arrow-circle-o-right,
.arrow .fa-chevron-left,
.arrow .fa-chevron-right,
.arrow .fa-chevron-circle-left,
.arrow .fa-chevron-circle-right,
.arrow .fa-arrow-circle-left,
.arrow .fa-arrow-circle-right,
.arrow .fa-arrow-circle-o-left,
.arrow .fa-arrow-circle-o-right {
	font-size: 60%;
}

.testimonials-page
{
	box-sizing: border-box;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.testimonials-page.hidden {
	display: block !important;
	visibility: hidden;
	pointer-events: none;
}

.witharrows .testimonials-page {
	padding: 0 38px;
}

.testimonials-page.visible
{
	opacity: 1;
	z-index: 99999; /* must be above other pages for links to be active */
}

.testimonials-row
{
	white-space: nowrap;
}

.testimonials-item 
{
	/* padding should not be non-zero */
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	white-space: normal;
	overflow: hidden;
	min-width: 200px;
	
	font-family: 'Open Sans', sans-serif;

	font-size: 16px; /* resetting font-size after font-size:0 */
	
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
	xborder: 1px solid red;
}

.testimonials-item table
{
	font: inherit;
	border-spacing: 0;
	border-collapse: collapse;
}

.testimonials-item table,
.testimonials-item tr,
.testimonials-item td
{
	vertical-align: top;
	padding: 0;
}

.testimonials-inner 
{
	margin: 20px;
}

.testimonials-item p
{
	margin: 0.8em 0;
}

.testimonials-item a
{
	text-decoration: none;
}

.testimonials-item .rightaligned
{
	text-align: right;
}

.testimonials-item.hidden 
{
	display: none;
}

/*.testimonials-meta,*/
.xtestimonials-name,
.testimonials-date
{
	white-space: nowrap;
}

.testimonials-meta a[href]:hover
{
	text-decoration: underline;
}

.testimonials-symbol
{
	font-family: InffuseSymbols;
}

.testimonials-symbol,
.testimonials-symbol:hover,
a.testimonials-symbol,
a.testimonials-symbol:hover
{
	text-decoration: none !important;
	font-weight: normal;
}

.testimonials-symbol:after
{
	content: 'i';
}

.testimonials-symbol-facebook:after
{
	content: 'f';
}

.testimonials-symbol-twitter:after
{
	content: 't';
}

.testimonials-symbol-yelp:after
{
	content: 'y';
}

.testimonials-symbol-circle
{
	font-size: 11px;
	display: inline-block;
	line-height: 1.5em;
	margin: 0px 7px 0px -2px;
	vertical-align: top;
	width: 1.4em;
	height: 1.3em;
	border-radius: 30px;
	text-align: center;
	text-shadow: 1px 1px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

.testimonials-item hr
{
	border: 0;
	width: 70%;
	border-top: 1px solid rgba(0,0,0,0.05);
	margin: 0px auto 0px auto;
}

.testimonials-floatright
{
	float: right;
}

.testimonials-clear
{
	clear: both;
}

.testimonials-image
{
	display: inline-block;
	overflow: hidden;
	background: no-repeat center center;
	background-color: white;  /* todo: remove */
	background-clip: content-box; /* for transparent borders */
}

.testimonials-more
{
	font-size: 10px;
	position: absolute;
	left: 0;
	bottom: 0px;
	right: 0px;
	height: 20px;
	background: rgba(0,0,0,0.1);
	color: white;
	text-align: center;
	line-height: 18px;
	border-top: 1px solid rgba(255,255,255,0.4);
	box-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.testimonials-more a
{
	font-family: arial;
	color: white;
	text-decoration: none;
	font-weight: none;
	text-shadow: 1px 1px rgba(0,0,0,0.5), 2px 2px rgba(255,255,255,0.5);
}

/*---------------------------------------------*/

.testimonials-image-100
{
	height: 100px;
	width: 100px;
	background-size: 100px auto;
}

body.size-medium .testimonials-image-100
{
	height: 75px;
	width: 75px;
	background-size: 75px auto;
}

body.size-small .testimonials-image-100
{
	height: 50px;
	width: 50px;
	background-size: 50px auto;
}

/*---------------------------------------------*/

.testimonials-image-80
{
	height: 80px;
	width: 80px;
	background-size: 80px auto;
}

body.size-medium .testimonials-image-80
{
	height: 60px;
	width: 60px;
	background-size: 60px auto;
}

body.size-small .testimonials-image-80
{
	height: 40px;
	width: 40px;
	background-size: 40px auto;
}

/*---------------------------------------------*/

.testimonials-image-70
{
	height: 70px;
	width: 70px;
	background-size: 70px auto;
}

body.size-medium .testimonials-image-70
{
	height: 50px;
	width: 50px;
	background-size: 50px auto;
}

body.size-small .testimonials-image-70
{
	height: 35px;
	width: 35px;
	background-size: 35px auto;
}

/*---------------------------------------------*/

.testimonials-image-60
{
	height: 60px;
	width: 60px;
	background-size: 60px auto;
}

body.size-medium .testimonials-image-60
{
	height: 45px;
	width: 45px;
	background-size: 45px auto;
}

body.size-small .testimonials-image-60
{
	height: 30px;
	width: 30px;
	background-size: 30px auto;
}

/*---------------------------------------------*/

.testimonials-image-50
{
	height: 50px;
	width: 50px;
	background-size: 50px auto;
}

body.size-medium .testimonials-image-60
{
	height: 40px;
	width: 40px;
	background-size: 40px auto;
}

body.size-small .testimonials-image-60
{
	height: 30px;
	width: 30px;
	background-size: 30px auto;
}

/*---------------------------------------------*/

.testimonials-text
{
	word-break: break-word;
}

body.size-small .testimonials-text
{
	font-size: 11px !important;
}

/*---------------------------------------------*/

.current,
.prev,
.next {
	visibility: visible;
	width: 100%;
	z-index: 1;
}

.current,
.next {
	transform: translateX(0%);
}

.slide-next .current,
.slide-next .next,
.slide-prev .current,
.slide-prev .prev {
	transition: transform .4s;
}

.slide-next .current,
.slide-next .next {
	transform: translateX(-100%);
}

.prev .prev,
.prev .current {
	transform: translateX(-100%);
}

.slide-prev .current,
.slide-prev .prev {
	transform: translateX(0%);
}

/*---------------------------------------------*/
/*
.animated.ng-enter, 
.animated.ng-leave
{ 
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animated.ng-enter {
	left: 100%;
}
.animated.ng-enter.animated.ng-enter-active {
	left: 0;
}
 
.animated.ng-leave {
	left: 0;
}
.animated.ng-leave.animated.ng-leave-active{
	left: -100%;
}
*/
/*---*/

.animated.ng-hide-remove, 
.animated.ng-hide-add
{ 
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animated.ng-hide-remove {
	margin-left: 100%;
}

.animated.ng-hide-remove.ng-hide-remove-active {
	margin-left: 0;
	position: absolute;
	top: 0;
	z-index: 9999;
}
 
.animated.ng-hide-add {
	margin-left: 0;
}

.animated.ng-hide-add.ng-hide-add-active{
	margin-left: -100%;
	z-index: 9999;
}

/*---*/

.animated.ng-hide-add.ng-hide-add-active,
.animated.ng-hide-remove.ng-hide-remove-active {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.animated.ng-hide {
	opacity: 0;
	z-index: -1;
}

.ng-hide-add, .ng-hide-remove {
	/* ensure visibility during the transition */
	display: block !important; /* yes, important */
}

.testimonials-page.ng-hide {
	display: block !important;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

/*---------------------------------------------*/

#navigation button {
	display: inline-block;
	margin-right: 10px;
	width: auto;
}

/*---------------------------------------------*/

.bx-wrapper .bx-viewport {
	background: none;

	/* slider height will be updated automatically via .testimonials height */
	height: auto !important;
}

/*---------------------------------------------*/

.actions {
	margin-top: 15px;
	padding: 0 20px;
	text-align: center;
}

.actions button {
	margin-bottom: 15px;
	opacity: 0.9;
}

.actions button:not(:active):hover {
	opacity: 1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

/*---------------------------------------------*/

body.upgrade_required {
	border: 2px solid #a41aa4;
	background: rgba(255,255,255,0.8);
}

.upgrade_notice {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-family: "Open Sans";
	width: 100%;
	padding: 2em;
	box-sizing: border-box;
}