/* ================================================================= */
/* ####################  G·E·N·E·R·A·L - C·S·S  #################### */
/* ================================================================= */

body { background-color: #fff; color: #2f2e2f; }

.unfilled { padding-right: 0% !important; padding-left: 0% !important; }

.sections-row { margin-top: 5%; padding-left: 0% !important; padding-right: 0% !important; margin-right: 0% !important; margin-left: 0% !important; }

.sections-row.unfilled { margin-top: 0%; }

/* Se debería modificar la fuente del título */
.sections-title  { font-family: 'Helvetica-Bold'; text-align: center; }

@media (min-width: 360px ) {
	.navbar-header { padding: 0.2em; }
}

/* ======================================================================================= */
/* ####################  S·E·C·T·I·O·N - T·E·A·M - F·R·O·N·T·P·A·G·E  #################### */
/* ======================================================================================= */

#section-team .back-team { background-color: #333333; }
#section-team h2, #section-team p { color: #ffffff; }
#section-team h2 { font-family: 'Helvetica-Bold'; font-size: 30px; padding-left: 8%; }
#section-team p { font-family: 'Helvetica-Regular'; line-height: 1.3em; padding: 0% 8%; }
#section-team button { color: #ffffff; background-color: #ff6600; padding: 4px 20px; font-size: 14px; letter-spacing: 0.3em; border-style: none; border-radius: 15px; }
#section-team button:hover { color: #000000; border: 1px solid #ffffff; box-shadow: 0px 5px 10px rgba(0,0,0, 0.75); transition: all 0.1s ease-out 0s;  }

@media (min-width: 360px) {
	#section-team .padding-top-one { padding-top: 12%; }
	#section-team .padding-top-two { padding-top: 2%; }
	#section-team .margin-p { margin: 7% 0%; }
	#section-team .margin-button { margin: 5% 0%; }
}

@media (min-width: 576px) {
	#section-team .padding-top-one { padding-top: 8%; }
	#section-team .padding-top-two { padding-top: 0%; }
	#section-team .margin-p { margin: 4% 0%; }
}

@media (min-width: 768px) {
	#section-team h2 { font-size: 18px; }
	#section-team p { font-size: 12px; }
	#section-team button { font-size: 10px; }
	#section-team .padding-top-one { padding-top: 5%; }
	#section-team .padding-top-two { padding-top: 10%; }
	#section-team .margin-p { margin: 3% 0%; }
}

@media (min-width: 992px) {
	#section-team h2 { font-size: 30px; }
	#section-team p { font-size: 100%; }
	#section-team button { font-size: 12px; }
	#section-team .padding-top-one { padding-top: 8%; }
	#section-team .padding-top-two { padding-top: 10%; }
	#section-team .margin-button { margin: 5% 0%; }
}

@media (min-width: 1200px) {
	#section-team p { font-size: 20px; }
	#section-team button { font-size: 14px; }
	#section-team .margin-p { margin: 5% 0%; }
	#section-team .margin-button { margin: 4% 0%; }
}

/* ============================================================================= */
/* ####################  S·E·C·T·I·O·N - T·E·A·M - P·A·G·E  #################### */
/* ============================================================================= */

.bg-team { top: 0; left: 0; width: 100%; height: 100%; background-position: center center; background-size: cover; background-repeat: no-repeat; z-index: 99; }

.all-team { margin-bottom: 10%; }

#team .name { font-family: 'Arial-Narrow-Bold'; font-size: 20px; font-weight: 500; line-height: 1.1; margin-top: 14px; margin-bottom: 0px; }

#team .charge { font-family: 'Arial-Narrow-Italic'; font-size: 18px; font-weight: lighter; margin-top: 0px; }

#team .description { font-family: 'CooperHewitt-Light'; font-size: 18px; line-height: 1.3em; margin-top: 12px; }

.fm { text-align: center; }

.rm { text-align: left; }

@media (min-width: 360px) {
	#team .sections-title { margin: 8% 0%; font-size: 2em; }
	#team .sections-subtitle { font-family: 'Montserrat-Light'; font-size: 1.2em; font-weight: bold; line-height: 1.2em; padding: 0% 6%; text-align: center; }
	#team .m-filling { display: none; }
}

@media (min-width: 576px) {
	#team .sections-title { margin: 5% 0%; }
	#team .sections-subtitle { padding: 0% 3%; }
}

@media (min-width: 768px) {
	#team .sections-title { margin: 4% 0%; font-size: 2.5em; }
	#team .sections-subtitle { text-align: left; padding: 0%; }
	#team .description { padding: 0%; }
	#team .all-team { margin-bottom: 5%; }
	#team .m-filling { display: block; }
	#team .margin-sm { display: block; width: 12.6%; height: 400px; float: left; }
}

@media (min-width: 992px) {
	#team .sections-subtitle { font-size: 1.4em; }
	#team .margin-sm { display: none; }
	#team .margin-md { display: block; width: 20.833333335%; height: 400px; float: left; }
}

/* =============================================================================================== */
/* ####################  S·E·C·T·I·O·N - B·E·N·E·F·I·T·S - F·R·O·N·T·P·A·G·E  #################### */
/* =============================================================================================== */

.link-container { text-align: center; }

#link-benefits { font-family: 'Helvetica-Regular' !important; letter-spacing: 0.2em; padding-bottom: 2%; border-bottom: 2px solid #ff6600; }

#link-benefits:hover { color: #ff6600; font-size: 1.5em font-weight: bold; border-bottom: 2px solid #2f2e2f; transition: all 0.1s ease-out 0s; }

@media (min-width: 360px) {
	#section-benefits .sections-title { font-size: 2.5em; margin: 8% 0%; }
	#section-benefits .sections-subtitle { font-size: 1.3em; line-height: 1.2em; text-align: center; padding: 4% 0%; }
	#section-benefits #link-benefits { font-size: 1em !important; }
	#section-benefits .link-container { padding: 8% 0%; }
}

@media (min-width: 576px) {
	#section-benefits .sections-subtitle { font-size: 1.2em; }
}

@media (min-width: 768px) {
	#section-benefits .sections-title { font-size: 2.5em; margin: 3% 0%; }
	#section-benefits .sections-subtitle { font-size: 0.8em; text-align: left; padding: 0%; }
	#section-benefits #link-benefits { font-size: 0.8em !important; }
	#section-benefits .link-container { font-size: 0.6em !important; padding: 1% 0%; }
	.sm-margin { margin-left: 4.166666665%; }
	.sm-padding { padding: 0% 0.5%; }
}

@media (min-width: 992px) {
	#section-benefits .sections-subtitle { font-size: 1.2em; }
	#section-benefits .link-container { font-size: 1em !important; }
}

/* ===================================================================================== */
/* ####################  S·E·C·T·I·O·N - B·E·N·E·F·I·T·S - P·A·G·E  #################### */
/* ===================================================================================== */

.all-item { padding: 0px 25px; }

.all-item > div { border: 2px solid black; margin-bottom: 20%; }

/* agregar font-family "Bariol Bold BOLD" al texto de los beneficios */
.text-item { opacity: 0; position: absolute; text-align: center; width: 80%; color: #ffffff; font-size: 20px; top: 40%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); }

.santander:hover, .capitalizarme:hover, .mibodega:hover, .moviglass:hover, .lumos:hover, 
.wenuwork:hover { background-color: #ff6600; }

.santander:hover .text-item, .capitalizarme:hover .text-item, .mibodega:hover .text-item, .moviglass:hover .text-item, 
.lumos:hover .text-item, .wenuwork:hover .text-item { opacity: 1; transition: opacity 0.2s ease-out 0s; }

.santander:hover > img, .capitalizarme:hover > img, .mibodega:hover > img, .moviglass:hover > img, 
.lumos:hover > img, .wenuwork:hover > img { opacity: 0; transition: opacity 0.2s ease-out 0s; }

@media (min-width: 360px) {
	#benefits .sections-title { font-size: 2.5em; margin: 8% 0%; }
	#benefits .sections-subtitle { text-align: center; font-size: 1.3em; padding: 5% 0%; }
	#benefits .text-item { width: 70%; font-size: 22px; }
}

@media (min-width: 576px) {
	#benefits .sections-subtitle { font-size: 1.4em; padding: 3% 0%;}
	#benefits .text-item { width: 70%; font-size: 18px; }
}

@media (min-width: 768px) {
	#benefits .sections-title { margin: 5% 0%; }
}

@media (min-width: 992px) {
	#benefits .sections-subtitle { text-align: left; font-size: 1.1em; }
	#benefits .st-item { margin-left: 12.5%; }
}

@media (min-width: 1200px) {
	#benefits .sections-title { margin: 3% 0%; }
	#benefits .sections-subtitle { font-size: 1.3em; }
}