 -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100vh;}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #173d50;
  background-color: #173d50;
}

a {
  color: #e97d68;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  height: 100px;
  line-height: 170px;
  position: relative;
}
.cd-header h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 2.2rem;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 160px;
    line-height: 280px;
  }
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
}

.cd-pricing-container {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-container {
    margin: 6em auto;
  }
  .cd-pricing-container.cd-full-width {
    width: 100%;
    max-width: none;
  }
}

.cd-pricing-list {
  margin: 2em 0 0;
}
.cd-pricing-list > li {
  position: relative;
  margin-bottom: 1em;
  background-color: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid transparent;
}
.cd-pricing-list > li::after {
  /* subtle gradient layer on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #FFFFFF, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}
.cd-pricing-list > li.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-list {
    margin: 3em 0 0;
  }
  .cd-pricing-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-pricing-list > li {
    width: 33.3333333333%;
    float: left;
  }
  .cd-pricing-list > li::before {
    /* separator between pricing tables - visible when number of tables > 3 */
    content: '';
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: #b1d6e8;
  }
  .cd-pricing-list > li::after {
    /* hide gradient layer */
    display: none;
  }
  .cd-pricing-list > li.cd-popular {
    box-shadow: inset 0 0 0 3px #e97d68;
  }
  .cd-pricing-list > li.cd-popular::before {
    /* hide table separator for .cd-popular table */
    display: none;
  }
  .cd-pricing-list > li.cd-popular + li::before {
    /* hide table separator for tables following .cd-popular table */
    display: none;
  }
  .cd-has-margins .cd-pricing-list > li, .cd-has-margins .cd-pricing-list > li.cd-popular {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .cd-secondary-theme .cd-pricing-list > li {
    background: #3aa0d1;
    background: -webkit-linear-gradient( bottom , #3aa0d1, #3ad2d1);
    background: linear-gradient(to top, #3aa0d1, #3ad2d1);
  }
  .cd-secondary-theme .cd-pricing-list > li.cd-popular {
    background: #e97d68;
    background: -webkit-linear-gradient( bottom , #e97d68, #e99b68);
    background: linear-gradient(to top, #e97d68, #e99b68);
    box-shadow: none;
  }
  .cd-pricing-list:nth-of-type(1)::before {
    /* hide table separator for the first table */
    display: none;
  }
  .cd-has-margins .cd-pricing-list > li {
    width: 32.3333333333%;
    float: left;
    margin-right: 1.5%;
    border-radius: 4px 4px 6px 6px;
  }
  .cd-has-margins .cd-pricing-list > li:last-of-type {
    margin-right: 0;
  }
  .cd-has-margins .cd-pricing-list > li::before {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .cd-full-width .cd-pricing-list > li {
    padding: 2.5em 0;
  }
}

@media only screen and (min-width: 768px) {
  .cd-popular .cd-pricing-wrapper > li::before {
    /* hide table separator for .cd-popular table */
    display: none;
  }
}
.cd-pricing-header {
  position: relative;
  z-index: 1;
  height: 80px;
  padding: 1em;
  pointer-events: none;
  background-color: #3aa0d1;
  color: #FFFFFF;
}
.cd-pricing-header h2 {
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.cd-popular .cd-pricing-header {
  background-color: #e97d68;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-header {
    height: auto;
    padding: 1.9em 0.9em 1.6em;
    pointer-events: auto;
    text-align: center;
    color: #173d50;
    background-color: transparent;
  }
  .cd-popular .cd-pricing-header {
    color: #e97d68;
    background-color: transparent;
  }
  .cd-secondary-theme .cd-pricing-header {
    color: #FFFFFF;
  }
  .cd-pricing-header h2 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

.cd-currency, .cd-value {
  font-size: 3rem;
  font-weight: 300;
}

.cd-duration {
  font-weight: 700;
  font-size: 1.3rem;
  color: #8dc8e4;
  text-transform: uppercase;
}
.cd-popular .cd-duration {
  color: #f3b6ab;
}
.cd-duration::before {
  content: '/';
  margin-right: 2px;
}

@media only screen and (min-width: 768px) {
  .cd-value {
    font-size: 7rem;
    font-weight: 300;
  }

  .cd-currency, .cd-duration {
    color: rgba(23, 61, 80, 0.4);
  }
  .cd-popular .cd-currency, .cd-popular .cd-duration {
    color: #e97d68;
  }
  .cd-secondary-theme .cd-currency, .cd-secondary-theme .cd-duration {
    color: #2e80a7;
  }
  .cd-secondary-theme .cd-popular .cd-currency, .cd-secondary-theme .cd-popular .cd-duration {
    color: #ba6453;
  }

  .cd-currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
  }

  .cd-duration {
    font-size: 1.4rem;
  }
}
.cd-pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-body {
    overflow-x: visible;
  }
}

.cd-pricing-features {
  width: 600px;
}
.cd-pricing-features:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pricing-features li {
  width: 100px;
  float: left;
  padding: 1.6em 1em;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cd-pricing-features em {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-features {
    width: auto;
  }
  .cd-pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
  }
  .cd-popular .cd-pricing-features li {
    margin: 0 3px;
  }
  .cd-pricing-features li:nth-of-type(2n+1) {
    background-color: rgba(23, 61, 80, 0.06);
  }
  .cd-pricing-features em {
    display: inline-block;
    margin-bottom: 0;
  }
  .cd-has-margins .cd-popular .cd-pricing-features li, .cd-secondary-theme .cd-popular .cd-pricing-features li {
    margin: 0;
  }
  .cd-secondary-theme .cd-pricing-features li {
    color: #FFFFFF;
  }
  .cd-secondary-theme .cd-pricing-features li:nth-of-type(2n+1) {
    background-color: transparent;
  }
}

.cd-pricing-footer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* on mobile it covers the .cd-pricing-header */
  height: 80px;
  width: 100%;
}
.cd-pricing-footer::after {
  /* right arrow visible on mobile */
  content: '';
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../img/cd-icon-small-arrow.svg);
}
@media only screen and (min-width: 768px) {
  .cd-pricing-footer {
    position: relative;
    height: auto;
    padding: 1.8em 0;
    text-align: center;
  }
  .cd-pricing-footer::after {
    /* hide arrow */
    display: none;
  }
  .cd-has-margins .cd-pricing-footer {
    padding-bottom: 0;
  }
}

.cd-select {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  /* hide button text on mobile */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
@media only screen and (min-width: 768px) {
  .cd-select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 1.3em 3em;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #0c1f28;
    font-size: 1.4rem;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .no-touch .cd-select:hover {
    background-color: #112e3c;
  }
  .cd-popular .cd-select {
    background-color: #e97d68;
  }
  .no-touch .cd-popular .cd-select:hover {
    background-color: #ec907e;
  }
  .cd-secondary-theme .cd-popular .cd-select {
    background-color: #0c1f28;
  }
  .no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
    background-color: #112e3c;
  }
  .cd-has-margins .cd-select {
    display: block;
    padding: 1.7em 0;
    border-radius: 0 0 4px 4px;
  }
}


/*SECCIÓN BLOGS*/
 /*Responsive*/

@media (max-width: 1351px) {
  
  .masonry-item {
    margin-right: 35px !important;
  }
  /*.image-box {
    width: 301px !important;
  }*/
  #sidebar-primary {
    width: 308px !important;
  }
}
@media (max-width: 1300px) {
  
  .masonry-item {
    margin-right: 30px !important;
  }
  /*.image-box {
    width: 400px !important;
  }*/
  #sidebar-primary {
    width: 280px !important;
  }
  input#s{
    width: 65% !important;
  }
}
@media (max-width: 1240px) {
  
  .image-box {
    width: 370px !important;
  }
 }
 @media (max-width: 1180px) {
  
  .image-box {
    width: 320px !important;
  }
 }


 @media (max-width: 1080px) {
  
  .image-box {
    width: 270px !important;
  }
 }

 @media (max-width: 980px) {
  .image-box {
    width: 250px !important;
  }
  #sidebar-primary{
    width: 230px !important;
  }
  input#searchsubmit.submit{
    width: 75px !important;
  }
 }
 @media (max-width: 768px) {
  
  .image-box {
    width: 300px !important;
  }
  #sidebar-primary{
    display: none;
  }
 }

 @media (max-width: 750px){
  .image-box {
    width: 250px !important;
  }
 }

 @media (max-width: 660px) {
  
  .image-box {
    width: 400px !important;
  }

 }
  @media (max-width: 414px) {
  
  .image-box {
    width: 275px !important;
  }
 }
/*.section-blogs {
  height: 100vw;
  margin-bottom: 50px;
}*/

.posts {
  
  /*position: absolute;*/
}
.masonry-item{
  display: inline-flex;
  margin-right: 60px;
  margin-bottom: 60px;
}

.blogs {
  background-color: #FFFFFF;
  padding: 50px;
  /*display: flex;*/
}

.texture-header {
  margin-top: 70px;
  /*background-image: url(/images/benefits/img-header.png)*/
 }
 .texture-header>img{
    width: 100%;
 }


/*SIDEBAR*/

#sidebar-primary {
  float: right;
  height: 100vw;
  width: 330px;
}
#sidebar-primary>ul>li>h2{
  font-size: 24px;
  margin-bottom: 12px;
}
#sidebar-primary>ul{
  margin-bottom: 42px;
}

#sidebar-primary .pagenav{
  margin-bottom: 42px;
}

#sidebar-primary .categories{
  margin-top: 42px;
}

input#s{
  width: 70%;
  background: white;
  border: 1px solid #727272;
  margin-right: -1px;
}

input#searchsubmit{
  background-color: #727272;
  border:none;
  padding: 10px;
  padding-bottom: 8px;
  height: 34px;
  color: white;
  width: 90px;
}
input#searchsubmit:hover{
  background:#8c8c8c;
}

#works-list{
  /*display: flow-root;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}



.widget-title{
  margin-bottom: 30px;
  font-family: 'Helvetica-Bold';
  font-size: 16px;
}

li.recentcomments{
  display: grid;
}



.widget {
  margin-bottom: 50px;
  font-family: 'CooperHewitt-Bold';
  font-size: 12px;
}
.widget_search{
  font-family: 'Helvetica-Bold';
}
.widget>ul>li>a {
  color: #999999;

}

.widget_recent_entries>ul>li {
  padding-bottom: 10px;
}

.widget>ul{
  padding-left: 20px;
}
.widget>ul>li{
  list-style-type: disc;
}
/*FIN DE SIDEBAR*/

/*POSTS*/
.image>img.b-lazy {
  width: 100%;
  /*height: auto;*/
}

.image-box {
  width: 400px;
  /*display: flex;*/
}

.work>p.fecha {
  font-family: "Helvetica-Bold" !important;
  font-size: 12px;
  margin-bottom: 20px;
  /*color: #9FACB1;*/
  color: #999999;
}

.work>h4.mb-0{
  margin-bottom: 20px;
  color: #494949;
}

.extracto{
  font-size: 12px;
  line-height: 2;
}
.extracto>p {
  font-family: "CooperHewitt-SemiBold";
  font-weight: bold;
}

.extracto>p.leer{
  letter-spacing: 3px;
  margin-top: 35px;
  font-family: "CooperHewitt-Bold" !important;
}
/*FIN DE POSTS*/

/*PAGINACIÓN*/
.page_nav{
  font-size: 12px;
}
.page-numbers{
  margin-left: 30px;
  color: #494949;
  font-family: 'CooperHewitt-Medium' !important;
}
.mas{
  margin-right:15px;
  font-family:"CooperHewitt-Medium" !important;
}
/*FIN DE PAGINACIÓN*/

/*SINGLE*/
/*.post{
  margin-top:90px;
  margin-left: 90px;
  margin-right: 90px;
}
.content-area .site-main>img{
  width: 100%;
  height: auto;
}

.content-area .site-main>h3{
    font-family: 'Helvetica-Bold';
    font-size: 40px;
    color: black;
    margin: 20px 0 30px 0;
}
.content-area .site-main>p{
    font-family: "CooperHewitt-Medium";
    margin-bottom: 25px;
    line-height: 20px;
}